@charset "UTF-8";
a:hover {
	color:gray;
}

a {
	text-decoration: none;
	color:white; 
	}

html , body{
	width: 100%;
	height: 100%;
	background-color: #000000;
	position: static;
	background-repeat: repeat-x;
}.topheader {
	padding: 0px;
	height: 120px;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url(images/reddot_08.png);
	background-repeat: repeat-x;
	background-position: 0% 96px;
}
.title {
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	padding: 0px;
	height: 130px;
	width: 1200px;
	background-repeat: no-repeat;
	background-position: 0 0%;
	font-family: Gruppo;
	font-size: 26px;
	text-align: left;
	position: relative;
	background-image: url(images/title.png);
}
#menubutton {
	margin: 0px;
	padding-top: 50px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	height: 70px;
	width: 200px;
	float: left;
	color: #FFFFFF;
	font-style: normal;
	text-align: center;
}
#drinkbutton {
	width: 200px;
	height: 70px;
	float: left;
	color: #FFFFFF;
	text-align: center;
	padding-top: 50px;
}
#phorealbutton {
	width: 280px;
	height: 130px;
	float: left;
	padding-top: 0px;
	padding-left: 120px;
	background-position: 50% 0%;
	padding-bottom: 0px;
}
#hourbutton {
	width: 200px;
	height: 70px;
	float: left;
	color: #FFFFFF;
	text-align: center;
	padding-top: 50px;
}
#aboutbutton {
	float: left;
	width: 200px;
	height: 70px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 50px;
}
.footer {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	height: 180px;
	width: 100%;
	background-image: url(images/reddot_08.png);
	background-repeat: repeat-x;
	background-position: 0% 1%;
}
.footer .insidefooter {
	width: 1200px;
	height: 120px;
	background-repeat: no-repeat;
	position: relative;
	margin-left: auto;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	background-image: url(images/footer.png);
}
.bigbox .page5 iframe {
	margin-left: 550px;
	margin-top: 50px;
}
.bigbox .page6 .page5insideboxright {
	width: 100%;
	height: 500px;
	color: rgba(255,255,255,1.00);
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	float: left;
}
.page6 .page5insideboxright img {
	float: left;
}
.page6 .page5insideboxright .notebox {
	float: left;
	padding-left: 504px;
	padding-bottom: 51px;
	padding-top: 0px;
	margin-top: -219px;
	line-height: 47px;
	font-family: "Titillium Web";
	color: rgba(255,255,255,0.46);
	font-size: 20px;
}
.page6 .page5insideboxright .niner {
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 286px;
	margin-left: 0px;
	margin-right: 0px;
	float: right;
	width: 100px;
	margin-top: -108px;
}
.bigbox .page6 .abouttext {
	/* [disabled]font-family: Gruppo; */
	color: #FEFEFE;
	font-size: 28px;
}
.bigbox .page5 iframe {
	padding-left: 96px;
	width: 450px;
	height: 450px;
}
.home .bigbox .homepage.page5 {
}

@media screen{
.page2box {
	width: 1200px;
	height: 1600px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	position: relative;
	background-repeat: no-repeat;
	background-image: url(images/entree_05.png);
}
.page3box {
	width: 1200px;
	height: 800px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	position: relative;
	background-position: 0% 2%;
	background-repeat: no-repeat;
	background-image: url(images/dessert_05.png);
}
.text {
	font-family: "Titillium Web";
	color: rgba(255,255,255,1.00);
	font-size: 20px;
	line-height: 50px;
}
.headline {
	font-family: Gruppo;
	font-size: 40px;
}

}
.homepage {
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	padding-top: 250px;
	padding-right: 0px;
	padding-bottom: 0px;
	height: 710px;
	width: 1200px;
	background-repeat: no-repeat;
	color: #FFFFFF;
	font-family: Audiowide;
	font-size: 130px;
	position: relative;
	background-position: 0% 0%;
	text-align: center;
	background-image: url(images/homepage.png);
}
.bigbox .page1box {
	width: 1200px;
	height: 1000px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	position: relative;
	background-image: url(images/starter_05.png);
}
.page1menu {
	padding-left: 0px;
	padding-bottom: 0px;
	height: 30px;
	width: 1200px;
	color: #FFFFFF;
	font-family: Gruppo;
	text-align: left;
	padding-top: 15px;
	margin-left: auto;
	position: relative;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	font-size: 35px;
}
.home .bigbox .page5 {
	background-image: url(images/hour_05.png);
	width: 1200px;
	height: 900px;
	background-repeat: no-repeat;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	position: relative;
}
.page4 {
	width: 1200px;
	height: 1100px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	position: relative;
	background-image: url(images/drinkmenu_05.png);
}
.page6 {
	width: 1200px;
	height: 800px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	position: relative;
	color: rgba(255,255,255,1.00);
	font-family: Gruppo;
}
